#Protein-App-container img {
  max-width:100%;
  max-height:100%;
}

#Protein-App-container p {
  text-indent: 30px;
}

#Protein-App-container .err-text {
  color: red;
}

#app-description {
  font-size: 18px;
}
